@model AnimationViewModel

@{
    ViewBag.Title = Model.Link.Name;
    Layout = "_Layout";
    ViewData["Description"] = "Delivery! I have an animation for you fresh from Telegram! Click here to view or download the file.";
    ViewData["Thumbnail"] = $"data/{Model.ThumbFile.Location}";
    ViewData["Url"] = $"file/{Model.Link.Link}";
}

<div class="container">
    <h2 class="text-wrap text-break">@Model.Link.Name</h2>
    <hr class="border-primary mb-3" />
    <div class="row mb-3">
        <div class="col-md-8">
            <div class="card border-primary mb-3 shadow">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills small">
                        <li class="nav-item" onclick="pauseAll()">
                            <a class="nav-link active" data-bs-toggle="tab" href="#mainViewer">Best Fit</a>
                        </li>
                        <li class="nav-item" onclick="pauseAll()">
                            <a class="nav-link" data-bs-toggle="tab" href="#originalSize">Original</a>
                        </li>
                        <li class="nav-item" onclick="pauseAll()">
                            <a class="nav-link" data-bs-toggle="tab" href="#thumbnailViewer">Thumbnail</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body vjs-fluid">
                    <div id="playerTabs" class="tab-content">
                        <div class="tab-pane fade active show" id="mainViewer">
                            <video
                                id="tme-animation"
                                class="video-js mx-auto shadow"
                                controls
                                loop
                                muted
                                preload="auto"
                                height="@Model.Animation.Height"
                                width="@Model.Animation.Width"
                                poster="/data/@Model.ThumbFile.Location"
                                data-setup='{"fluid": true}'>
                                <source src="/data/@Model.File.Location" type="@Model.File.Mime"/>
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a
                                    web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>.
                                </p>
                            </video>
                        </div>
                        <div class="tab-pane fade" id="originalSize">
                            <div class="container" id="tme-original-container">
                                <video
                                    id="tme-animation-original"
                                    class="video-js mx-auto shadow"
                                    controls
                                    loop
                                    muted
                                    preload="auto"
                                    height="@Model.Animation.Height"
                                    width="@Model.Animation.Width"
                                    poster="/data/@Model.ThumbFile.Location"
                                    data-setup='{"fluid": true}'>
                                    <source src="/data/@Model.File.Location" type="@Model.File.Mime"/>
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>.
                                    </p>
                                </video>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="thumbnailViewer">
                            <div class="d-flex justify-content-center">
                                <img id="tme-thumbnail" class="img-thumbnail mx-auto shadow" src="/data/@Model.ThumbFile.Location" alt="@Model.Link.Name Thumbnail" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer small">
                    Uploaded: @Model.Link.AddedOn.ToString("R")
                </div>
            </div>
            <label for="permalink" class="form-label"><h6><i class="fas fa-link"></i>&nbsp;Permalink to this file:</h6></label>
            <div class="input-group mb-3 shadow">
                <input type="text" class="form-control font-monospace" onclick="this.select()" id="permalink" placeholder="Permalink" aria-label="PlzOpenMe Permalink" value="https://plzopen.me/File?id=@Model.Link.Link" readonly>
                <button class="btn btn-outline-success" type="button" id="permalink-copy" onclick="copyButtonClicked()"><i class="fas fa-copy"></i>&nbsp;Copy</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-secondary mb-3 fs-6 shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div><h6 class="m-0"><i class="fas fa-eye"></i>&nbsp;Views</h6></div>
                    <span class="badge bg-primary rounded-pill shadow">@Model.Link.Views</span>
                </div>
            </div>
            <div class="card border-warning mb-3 shadow">
                <div class="card-body border-bottom border-warning">
                    <h6 class="card-title mb-0"><i class="fas fa-bolt"></i>&nbsp;Actions</h6>
                </div>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-success shadow" type="button" data-bs-toggle="modal" data-bs-target="#modalShare"><i class="fas fa-share-alt"></i>&nbsp;Share</button>
                        <a class="btn btn-lg btn-primary shadow" type="button" href="/data/@Model.File.Location" download="@Model.Link.Name">
                            <i class="fas fa-download"></i>&nbsp;Download
                        </a>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger btn-sm shadow" data-bs-toggle="modal" data-bs-target="#modalReport"><i class="fas fa-flag"></i>&nbsp;Report</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-info mb-3 shadow">
                <div class="card-body">
                    <h6 class="card-title mb-0"><i class="far fa-chart-bar"></i>&nbsp;File Details</h6>
                </div>
                <ul class="list-group list-group-flush card-text small">
                    <li class="list-group-item">Entity: <span class="font-monospace">@Model.File.Type</span></li>
                    <li class="list-group-item">MIME type: <span class="font-monospace">@Model.File.Mime</span></li>
                    <li class="list-group-item">Size: <span class="font-monospace">@Model.File.Size Bytes</span></li>
                    <li class="list-group-item">Height: <span class="font-monospace">@Model.Animation.Height.ToString()px</span></li>
                    <li class="list-group-item">Width: <span class="font-monospace">@Model.Animation.Width.ToString()px</span></li>
                    <li class="list-group-item">Duration: <span class="font-monospace">@Model.Animation.Duration Sec</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Css
{
    <!-- Video.js player style sheet -->
    <link rel="stylesheet" href="~/lib/videojs/dist/video-js.min.css"/>

    <!-- Viewer.js style sheet -->
    <link rel="stylesheet" href="~/lib/viewerjs/dist/viewer.min.css"/>

    <!-- Custom style -->
    <style>
        #tme-original-container {
            width: auto;
            height: auto;
            max-width: @Model.Animation.Width.ToString()px !important;
            max-height: @Model.Animation.Height.ToString()px !important;
        }
    
        #tme-animation-original {
            max-width: @Model.Animation.Width.ToString()px;
            max-height: @Model.Animation.Height.ToString()px;
            width: 100%;
            height: 100%;
        }
        
        #tme-thumbnail {
            max-width: @Model.ThumbPhoto.Height.ToString()px;
            max-height: @Model.ThumbPhoto.Height.ToString()px;
            width: 100%;
            height: 100%;
        }
    </style>
}

@section Modals
{
    <!-- Share modal -->
    <div class="modal fade" id="modalShare" tabindex="-1" aria-labelledby="modalShareLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalShareLabel"><i class="fas fa-share-alt"></i>&nbsp;Pass it on!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalShareContent" class="container">
                        <div class="d-flex justify-content-center">
                            <h2><i class="fas fa-spinner fa-pulse"></i></h2>
                        </div>
                        <div class="d-flex justify-content-center">
                            Working on it...
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fas fa-thumbs-up"></i>&nbsp;Thanks!</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Report modal -->
    <div class="modal fade" id="modalReport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalReportLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalReportLabel"><i class="fas fa-flag"></i>&nbsp;Report this file</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalReportContent" class="container">
                        <div class="d-flex justify-content-center">
                            <h2><i class="fas fa-spinner fa-pulse"></i></h2>
                        </div>
                        <div class="d-flex justify-content-center">
                            Hang on a sec...
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" disabled><i class="fas fa-paper-plane"></i>&nbsp;Submit Report</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts
{
    <!-- Video.js player script -->
    <script src="~/lib/videojs/dist/video.min.js"></script>

    <!-- Viewer.js script -->
    <script src="~/lib/viewerjs/dist/viewer.min.js"></script>

    <!-- enable tool tips -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>

    <!-- initialize js objects-->
    <script>
        const videoPlayer = videojs('tme-animation', {
            responsive: true,
            playbackRates: [0.5, 1, 1.5, 2],
            controlBar: {
                'pictureInPictureToggle': false,
                'volumePanel': false,
                }
        });
        
        const videoPlayerOg = videojs('tme-animation-original', {
            responsive: true,
            playbackRates: [0.5, 1, 1.5, 2],
            controlBar: {
                'pictureInPictureToggle': false,
                'volumePanel': false,
                }
        });
        
        const viewer = new Viewer(document.getElementById("tme-thumbnail"), {
          inline: false,
          viewed() {
            viewer.zoomTo(1);
          },
        });
        
        const copyButton = document.getElementById("permalink-copy");
        const copiedToolTip = new bootstrap.Tooltip(copyButton, {
                boundary: document.body,
                placement: 'top',
                animation: true,
                delay: { "show": 500, "hide": 100 },
                html: false,
                trigger: 'manual',
                fallbackPlacements: ['top', 'bottom', 'right', 'left'],
                sanitize: true,
                title: 'Copied!'
            });      
    </script>

    <!-- button functions -->
    <script>
        function copyButtonClicked() {
            var copyText = document.getElementById("permalink");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            copiedToolTip.show();
            setTimeout(function(){
                    copiedToolTip.hide();
                }, 3000);
        } 
        
        function pauseAll() {
            videoPlayer.hasStarted(false);
            videoPlayerOg.hasStarted(false);
        }
    </script>
}
