@model AnimationViewModel

@{
    ViewBag.Title = Model.Link.Name;
    Layout = "_Layout";
    ViewData["Description"] = "Delivery! I have an animation for you fresh from Telegram! Click here to view or download the file.";
    ViewData["Thumbnail"] = $"data/{Model.ThumbFile.Location}";
    ViewData["Url"] = $"file/{Model.Link.Link}";
}

<div class="container">
    <h2>@Model.Link.Name</h2>
    <hr class="border-primary mb-3" />
    <div class="row mb-3">
        <div class="col-md-8">
            <div class="card border-primary mb-3 shadow">
                <div class="card-body vjs-fluid">
                    <video
                        id="tme-animation"
                        class="video-js mx-auto shadow"
                        controls
                        loop
                        muted
                        preload="auto"
                        width="@Model.Animation.Width"
                        height="@Model.Animation.Height"
                        poster="/data/@Model.ThumbFile.Location"
                        data-setup="{}">
                        <source src="/data/@Model.File.Location" type="@Model.File.Mime"/>
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>.
                        </p>
                    </video>
                </div>
            </div>
            <label for="permalink" class="form-label"><i class="fas fa-link"></i>&nbsp;Permalink to this file:</label>
            <div class="input-group mb-3 shadow">
                <input type="text" class="form-control user-select-all" id="permalink" placeholder="Permalink" aria-label="PlzOpenMe Permalink" value="https://plzopen.me/File?id=@Model.Link.Link" readonly>
                <button class="btn btn-outline-primary" type="button" id="permalink-copy" onclick="copyButtonClicked()"><i class="fas fa-copy"></i>&nbsp;Copy</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-success mb-3 shadow">
                <div class="card-header"><i class="fas fa-clipboard-list"></i>&nbsp;File Details</div>
                <div class="card-body small">
                    <p class="card-text">Views: @Model.Link.Views</p>
                    <p class="card-text">Uploaded: @Model.Link.AddedOn.ToString("R")</p>
                    <p class="card-text">Entity: @Model.File.Type</p>
                    <p class="card-text">MIME type: @Model.File.Mime</p>
                    <p class="card-text">Size: @Model.File.Size Bytes</p>
                    <p class="card-text">Height: @Model.Animation.Height px</p>
                    <p class="card-text">Width: @Model.Animation.Width px</p>
                    <p class="card-text">Duration: @Model.Animation.Duration Sec</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Css 
{
    <!-- Video.js player style sheet -->
    <link rel="stylesheet" href="~/lib/videojs/dist/video-js.min.css"/>
}

@section Scripts
{
    <!-- Video.js player script -->
    <script src="~/lib/videojs/dist/video.min.js"></script>
    
    <!-- enable tool tips -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>

    <!-- initialize js objects-->
    <script>
        const videoPlayer = videojs('tme-animation', {
            responsive: true,
            playbackRates: [0.5, 1, 1.5, 2],
            controlBar: {
                'pictureInPictureToggle': false,
                'volumePanel': false,
                }
        });
        
        const copyButton = document.getElementById("permalink-copy");
        const copiedToolTip = new bootstrap.Tooltip(copyButton, {
                boundary: document.body,
                placement: 'top',
                animation: true,
                delay: 3000,
                html: false,
                trigger: 'manual',
                fallbackPlacements: ['top', 'bottom', 'right', 'left'],
                sanitize: true,
                title: 'Copied!'
            });      
    </script>

    <!-- copy the url button -->
    <script>
        function copyButtonClicked() {
            var copyText = document.getElementById("permalink");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand("copy");
            copiedToolTip.show();
        } 
    </script>
}
