<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Main meta tags -->
    <title>PlzOpen.Me &#183; @ViewData["Title"]</title>
    <meta name="title" content="PlzOpen.Me &#183; @ViewData["Title"]" />
    <meta name="description" content="@ViewData["Description"]" />
    
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://plzopen.me/@ViewData["Url"]" />
    <meta property="og:title" content="PlzOpen.Me &#183; @ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="https://plzopen.me/@ViewData["Thumbnail"]" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://plzopen.me/@ViewData["Url"]" />
    <meta property="twitter:title" content="PlzOpen.Me &#183; @ViewData["Title"]" />
    <meta property="twitter:description" content="@ViewData["Description"]" />
    <meta property="twitter:image" content="https://plzopen.me/@ViewData["Thumbnail"]" />

    <!-- Primary styles -->
    <link rel="stylesheet" href="~/lib/bootswatch/cyborg/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("Css", required: false)
</head>
<body>

<header class="p-3 mb-3 border-bottom bg-light border-primary">
    @await Html.PartialAsync("MainNavPartial", ViewData["Title"])
</header>

<main role="main" class="pb-3">
    @RenderBody()
</main>


<footer class="border-top border-dark footer text-dark bg-light shadow">
    <div class="container">
        <i class="fas fa-copyright"></i> 2021 - <a href="https://komodo.codes">Komodo Codes, LLC.</a> 
        <i class="fas fa-grip-lines-vertical"></i> 
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> 
        <i class="fas fa-grip-lines-vertical"></i> 
        <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of Service</a>
    </div>
</footer>

@await RenderSectionAsync("Modals", required: false)

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/fontawesome/dist/js/all.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>