@model string

<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <h4 class="mb-0">PlzOpen.Me</h4>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link @GetActiveLink("active")[0]" aria-current="@GetActiveLink("page")[0]">
                    <i class="fas fa-home"></i>&nbsp;Home
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link @GetActiveLink("active")[1]" aria-current="@GetActiveLink("page")[1]">
                    <i class="fas fa-id-badge"></i>&nbsp;About
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="GettingStarted" class="nav-link @GetActiveLink("active")[2]" aria-current="@GetActiveLink("page")[2]">
                    <i class="fas fa-bullhorn"></i>&nbsp;Get Started
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Project" class="nav-link @GetActiveLink("active")[3]" aria-current="@GetActiveLink("page")[3]">
                    <i class="fab fa-git-alt"></i>&nbsp;Project
                </a>
            </li>
        </ul>
    </div>
</div>

@{
    string[] GetActiveLink(string activeText)
    {
        string active = activeText;
        string normal = "";
        
        switch (Model.ToLower())
        {
            case ("home"):
                return new string[4] {active, normal, normal, normal};
                break;
                
            case ("about"):
                return new string[4] {normal, active, normal, normal};
                break;
                    
            case ("get started"):
                return new string[4] {normal, normal, active, normal};
                break;
                
            case("project"):
                return new string[4] {normal, normal, normal, active};
                break;
                    
            default:
                return new string[4] {normal, normal, normal, normal};
                break;
        }
    }
}